
$dracula-orchid: #2d3436;
$electron-blue: #0984e3;
$city-lights: #dfe6e9;
$robins-egg: #00cec9;
$exodus-fruit: #6c5ce7;
$soothing-breeze: #b2bec3;
$american-river: #636e72;
$shy-moment: #a29bfe;
$darner-tail: #74b9ff;
$prunus-avium: #e84393;
$orangeville: #e17055;

$chi-gong: #d63031;
$mint-leaf: #00b894;

$themes: (
	night: (
		background: $dracula-orchid,
		foreground: $city-lights,

		background-input: $american-river,
		placeholder: $soothing-breeze,

		btn-text: $city-lights,
		btn-text-inverted: $dracula-orchid,

		btn-number: $soothing-breeze,
		btn-operation: $electron-blue,
		btn-action: $exodus-fruit,

		btn-number-hover: lighten($soothing-breeze, 12%),
		btn-operation-hover: lighten($electron-blue, 8%),
		btn-action-hover: lighten($exodus-fruit, 6%),

		success: $mint-leaf,
		fail: $chi-gong
	),
	day: (
		background: $city-lights,
		foreground: $dracula-orchid,

		background-input: $soothing-breeze,
		placeholder: $american-river,

		btn-text: $city-lights,
		btn-text-inverted: $dracula-orchid,

		btn-number: $soothing-breeze,
		btn-operation: $orangeville,
		btn-action: $chi-gong,

		btn-number-hover: lighten($soothing-breeze, 5%),
		btn-operation-hover: lighten($orangeville, 9%),
		btn-action-hover: lighten($chi-gong, 9%),

		success: $mint-leaf,
		fail: $chi-gong
	),
	power-off: (
		background: black,
		foreground: black,

		background-input: black,
		placeholder: black,

		btn-text: black,
		btn-text-inverted: black,

		btn-number: black,
		btn-operation: black,
		btn-action: black,

		btn-number-hover: black,
		btn-operation-hover: black,
		btn-action-hover: black,

		success: black,
		fail: black
	)
);

@mixin theme-apply($property, $color-name)
{
	@each $theme, $palette in $themes
	{
		#theme.#{$theme} &
		{
			#{$property}: map-get($palette, $color-name);
		}
	}
}
