@import "~reset-css/reset";
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

@import "partials/colors";
@import "partials/numbers";

*
{
    box-sizing: border-box;
}

:root
{
	font-family: "Open Sans", sans-serif;
    font-size: $font-size-mobile;

    @include desktop
    {
        font-size: $font-size-desktop;
    }
}



#root
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

    @include theme-apply(background, background);
    @include theme-apply(color, foreground);
}

#calculator
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0 2px;
    max-width: 320px;
}

#input
{
    position: sticky;
    top: 0;

    // Make input width the same as four buttons
    // (buttons are square, height = width)
    width: calc(4 * #{$button-height-mobile});

    @include desktop
    {
        width: 100%;
    }

    input[type="text"]
    {
        display: block;
        width: 100%;
        height: $input-height-mobile;
        border: 0;
        border-left: 2px solid;
        padding: 0 0.3rem;
        font-size: 1.5rem;

        font-family: "Open Sans", sans-serif;
        text-align: right;
        outline: 0;
		
        @include theme-apply(background, background-input);
        @include theme-apply(color, foreground);

        @include desktop
        {
            height: $input-height-desktop;
        }

        &::placeholder
        {
            @include theme-apply(color, placeholder);
        }

        &.pass
        {
            @include theme-apply(border-left-color, success)
        }

        &.fail
        {
            @include theme-apply(border-left-color, fail);
        }
    }

}

#output
{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    // margin-bottom: 1rem;
    padding: 0 0.3rem;
    font-size: 1.5rem;
    text-align: right;
    vertical-align: middle;

    height: $input-height-mobile;
    width: 4 * $button-height-mobile; // width of 4 buttons

    @include desktop
    {
        height: $input-height-desktop;
        width: 100%;
    }
}

#buttons
{
    $button-size-mobile: calc(#{$button-height-mobile} - #{$grid-gutter});
    $button-size-desktop: calc(#{$button-height-desktop} - #{$grid-gutter});

    display: grid;
    grid-gap: $grid-gutter;
    grid-template-columns: repeat(4, $button-size-mobile);
    grid-template-rows: repeat(6, $button-size-mobile);

    @include desktop
    {
        grid-template-columns: repeat(4, $button-size-desktop);
        grid-template-rows: repeat(6, $button-size-desktop);
    }

    > button
    {
        height: $button-size-mobile;

        @include desktop
        {
            height: $button-size-desktop;
        }
    }

    .memory
    {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        > button
        {
            // halve the height
            height: calc(#{$button-height-mobile / 2} - #{$grid-gutter});

            @include desktop
            {
                height: calc(50% - #{$grid-gutter - 1px});
            }
        }
    }

    .menu
    {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        > button
        {
            height: calc(50% - 1px);
        }
    }

    .parens
    {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        > button
        {
            // halve the width
            width: calc(50% - #{$grid-gutter - 1px});
        }
    }

    button
    {
        font-size: 1.5rem;
    }

}


button
{
    display: block;

    -webkit-appearance: none;
       -moz-appearance: none;
        -ms-appearance: none;
    
    outline: 0;
    border: 0;

    font-family: "Open Sans", sans-serif;

    &.number
    {
        @include theme-apply(background, btn-number);
        @include theme-apply(color, btn-text-inverted);

        // &:hover
        // {
        //     background: lighten($soothing-breeze, 12%);
        // }
    }

    &.operation
    {
        @include theme-apply(background, btn-operation);
        @include theme-apply(color, btn-text);

        // &:hover
        // {
        //     background: lighten($electron-blue, 8%);
        // }
    }

    &.action
    {
        @include theme-apply(background, btn-action);
        @include theme-apply(color, btn-text);

        // &:hover
        // {
        //     background: lighten($exodus-fruit, 6%);
        // }
    }

    &:hover
    {
        cursor: pointer;
    }
}

@-ms-viewport
{
    width: device-width;
}
.settingsLink{
    color: $exodus-fruit;
  
}
.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}
.overlay:target {
    visibility: visible;
    opacity: 1;
}
  
.popup {
    margin: 70px auto;
    padding: 20px;
    background: $dracula-orchid;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all .5s ease-in-out;
}
  
.popup h2 {
    margin-top: 0;
    color: $city-lights;
    text-align: center;
    font-family: Tahoma, Arial, sans-serif;
}

.popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
}
    color: rgb(65, 4, 4);
    text-decoration: none;

.popup .close:hover {
    color: rgb(87, 4, 87);
}

.popup .content {
    max-height: 30%;
    overflow: auto;
}

  
p{
    color: $city-lights;
    text-align: center;
}
