@import "~reset-css/reset";

*
{
    box-sizing: border-box;
}


#render
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#input
{
    position: relative;

    input[type="text"]
    {
        display: block;
        width: 100%;
        text-align: right;
    }

    .lex-status
    {
        position: absolute;
        height: 6px;
        width: 6px;
        border-radius: 3px;
        top: 8px;
        left: 6px;

        &.pass
        {
            background: green;
        }

        &.fail
        {
            background: red;
        }
    }
}

#buttons
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

button
{
    width: 23%;
    margin: 0.5rem 0 0;
}

#output
{
    text-align: right;
}
