@import "~reset-css/reset";

*
{
    box-sizing: border-box;
}

#calculator{
    width: 100%;
    position: relative;
    max-width: 85%;
    //border: 2px solid;
    //padding: 20px;
    resize: both;
    overflow: auto;
}

#render
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#input
{
    position: relative;
    margin: auto;
    max-width: 400px;
    width: 99%;

    input[type="text"]
    {
        display: block;
        width: 100%;
        text-align: right;
    }

    .lex-status
    {
        position: absolute;
        height: 6px;
        width: 6px;
        border-radius: 3px;
        top: 8px;
        left: 6px;

        &.pass
        {
            background: green;
        }

        &.fail
        {
            background: red;
        }
    }
}

#buttons
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    min-height: 100px;
    height: 85%;
}

button
{
    width: 23%;
    margin: 2px;
    padding: 0px 7px;
    flex-grow: 1;
    background-color: transparent;
    border: 1px solid black;
}

#output
{
    text-align: right;
}