@import "~reset-css/reset";
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

$dracula-orchid: #2d3436;
$electron-blue: #0984e3;
$city-lights: #dfe6e9;
$robins-egg: #00cec9;
$exodus-fruit: #6c5ce7;
$soothing-breeze: #b2bec3;
$american-river: #636e72;
$shy-moment: #a29bfe;
$darner-tail: #74b9ff;

$chi-gong: #d63031;
$mint-leaf: #00b894;

*
{
    box-sizing: border-box;
}

body
{
    font-family: "Open Sans", sans-serif;

    background: $dracula-orchid;
    color: $city-lights;
}

#render
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
   
}

#calculator
{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 95%;
    max-width: 20rem;
}

#input
{
    margin-bottom: 2px;
    position: relative;

    input[type="text"]
    {
        display: block;
        width: 100%;
        height: 4rem;
        border: 0;
        border-left: 2px solid;
        padding: 0 0.3rem;
        font-size: 1.5rem;

        font-family: "Open Sans", sans-serif;
        text-align: right;
        outline: 0;
        background: $american-river;
        color: $city-lights;

        &::placeholder
        {
            color: $soothing-breeze;
        }

        &.pass
        {
            border-left-color: $mint-leaf;
        }

        &.fail
        {
            border-left-color: $chi-gong;
        }
    }

}

#output
{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 4rem;
    margin-bottom: 1rem;
    padding: 0 0.3rem;
    font-size: 1.5rem;
    text-align: right;
    vertical-align: middle;
}

#buttons
{
    display: grid;
    grid-template-columns: repeat(4, calc(5rem - 1.5px));
    grid-auto-rows: 1fr;
    grid-gap: 2px;

    > button
    {
        height: calc(5rem - 1.5px);
    }

    .memory
    {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        > button
        {
            height: calc(50% - 1px);
        }
    }

    .parens
    {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        > button
        {
            height: 100%;
            width: calc(50% - 1px);
        }
    }

    button
    {
        font-size: 1.5rem;
    }

}


button
{
    display: block;

    -webkit-appearance: none;
       -moz-appearance: none;
        -ms-appearance: none;
    
    outline: 0;
    border: 0;

    font-family: "Open Sans", sans-serif;

    &.number
    {
        background: $soothing-breeze;
        color: $dracula-orchid;

        &:hover
        {
            background: lighten($soothing-breeze, 12%);
        }
    }

    &.operation
    {
        background: $electron-blue;
        color: $city-lights;

        &:hover
        {
            background: lighten($electron-blue, 8%);
        }
    }

    &.action
    {
        background: $exodus-fruit;
        color: $city-lights;

        &:hover
        {
            background: lighten($exodus-fruit, 6%);
        }
    }

    &:hover
    {
        cursor: pointer;
    }
}
