@import "~reset-css/reset";

*
{
    box-sizing: border-box;
}

#render
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    /*
    .background-color
    {
        &.red
        {
            background: red;
        }
        &.orange
        {
            background: orange;
        }
        &.yellow
        {
            background: yellow;
        }
        &.green
        {
            background: green;
        }
        &.blue
        {
            background: blue;
        }
        &.purple
        {
            background: purple;
        }
        &.pink
        {
            background: pink;
        }
    }
    */
   
}

#input
{
    position: relative;

    input[type="text"]
    {
        display: block;
        width: 100%;
        text-align: right;
    }

    .lex-status
    {
        position: absolute;
        height: 6px;
        width: 6px;
        border-radius: 3px;
        top: 8px;
        left: 6px;

        &.pass
        {
            background: green;
        }

        &.fail
        {
            background: red;
        }
    }
}

#buttons
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

button
{
    width: 23%;
    margin: 0.5rem 0 0;
    font-size: 14px;

    /*.text-size
    {
        &.x-small
        {
            font-size: 10px
        }
        &.small
        {
            font-size: 12px
        }
        &.medium
        {
            font-size: 14px
        }
        &.large
        {
            font-size: 16px
        }
        &.x-large
        {
            font-size: 18px
        }
        &.x-x-large
        {
            font-size: 20px
        }
    }*/

    /*.text-color
    {
        &.red
        {
            color: red;
        }
        &.orange
        {
            color: orange;
        }
        &.yellow
        {
            color: yellow;
        }
        &.green
        {
            color: green;
        }
        &.blue
        {
            color: blue;
        }
        &.purple
        {
            color: purple;
        }
        &.pink
        {
            color: pink;
        }
    }*/

     /*
    .button-color
    {
        &.red
        {
            background: red;
        }
        &.orange
        {
            background: orange;
        }
        &.yellow
        {
            background: yellow;
        }
        &.green
        {
            background: green;
        }
        &.blue
        {
            background: blue;
        }
        &.purple
        {
            background: purple;
        }
        &.pink
        {
            background: pink;
        }
    }
    */
}

#output
{
    text-align: right;
}
